
  <h2 class="title is-2 has-text-white"> TEAM COLLABORATOR DASHBOARD </h2>
  <h3 class="title is-4 has-text-white"> Welcome, {{{member.name}}}! What would you like to do today? </h3>

<!-- NAVBAR FOR BUTTONS --> 
  {{!-- <nav class="navbar"> 

  </nav> --}}

  <div class="container">
    <div class="btn-c2">
      <!-- CREATE PROJECT BUTTON -->
      <a href="/create-project"><button class="button is-normal has-background-link has-text-white">Create Your Own Project</button></a>
      <!-- JOIN PROJECT BUTTON -->
      <a href="/join-project"><button class="button is-normal has-background-link has-text-white">Join a Project</button></a>
    </div>
    <div class="box">
      <h4 class="title is-3 has-text-white"> YOUR CURRENT PROJECTS </h4>
        <div class = "tabs is-toggle is-fullwidth">
          <li class="">
            <a> <span class = "has-text-white"> PROJECT NAME </span> </a>
          </li>
          <li>
            <a> <span class = "has-text-white"> DESCRIPTION </span></a>
          </li>
        </div>
      <div class="columns">
        <div class="column">
          <h1 class="title is-3 has-text-white has-text-centered">Your Projects</h1>
          {{#each member.projects}}
          <div class="columns projectInfoFormat">
            <a class="column" href="/projects/{{id}}">
              <div><h1 class="title is-3 has-text-white">{{name}}</h1></div>
            </a>
            <a class="column" href="/projects/{{id}}">
              <div><h1 class="title is-3 has-text-white">{{description}}</h1></div>
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>


