
<div class="container">
    <div class="columns">
        <div class="column"><h1 class="title is-2 has-text-white">{{project.name}}</h1></div>
        <div class="column"><h1 class="title is-2 has-text-white">{{project.description}}</h1></div>
    </div>
</div>

<div class="container">
    <div class="box">
        <h1 class="title is-2">Posts</h1>
        {{#each project.projectPosts as |post|}}
        <div class="box">
            <div class="columns">
                <div class="column"><p class="title is-3">~~ #{{member_id}}{{{member.name}}} ~~</p></div>
                <div class="column"><h1 class="title is-3">{{post.title}}</h1></div>
                <div class="column"><h1 class="title is-5">{{post.comment}}</h1></div>
                <div class="column"><p class="title is-3">{{format_date date_created}}</p></div>
                <div class="container">
                    <h1 id="postId" style="display: none;" class="title is-1">{{post.id}}</h1>

                    <button class = "button is-primary editBtn">Edit Post</button>
                    <button class = "button is-danger deleteBtn"> Delete Post </button>
                </div>
            </div>

            <div class="container" style="display: none">
                <form id="updateForm">
                    <label for="newTitle">Title</label>
                    <input type="text" id="newTitle" class="input" placeholder="New Title">
                    <label for="newComment">Comment</label>
                    <input type="text" id="newComment" class="input" placeholder="New Comment">

                    <button class="button" id="submitEditBtn">Update Post</button>
                </form>
            </div>

        </div>
        {{/each}}

        <button id="createPostBtn" class="button">Create</button>
    </div>
</div>

<div class="container">
    <div class="box">
        <form id="projectPostForm" style="display:none">
            <label  for="title">Post Title</label>
            <input type="text" class="input" id="title">
            <label  for="comment">Post Body</label>
            <input type="text" class="input" id="comment">
            
            <button type="submit" id="submitPostBtn" class="button">Create Post</button>
        </form>
    </div>
</div>

<script src="/js/projectPost.js"></script>