<!-- Display single Project -->
<div class = "display-project"> 
    <!-- Project Name --> 
    <h2> {{ name }} </h2>
    <!-- Project Description --> 
    <p> {{description }}</p>
    <!-- Project Created By --> 
    <p> Created by {{user.name}} on {{ format_date date_created}} </p>
    <!-- Project Manager -->
    <p> Project Lead: {{lead.name}} </p>
    <!-- Option to Delete Project --> 
    <button class = "btn-delete"> Delete Project </button>

</div>

